@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<div class="text-left">
    <h2>Om Sidan</h2>
    <p>
        Välkommen till "Om Sidan" - avsnittet! Jag är skaparen av denna webbplats och jag heter Xiehui.
    </p>
    <p>Denna webbplats är skapad som en del av laborationen 1.1 - "Skapa webbplats / använda Razor" i kursen
        Webbutveckling med .NET.</p>

        
</div>
